
@media (min-width:961px) {
    body {
        margin: 0;
        background-color: #31364c;
    }
    h1, h3, .separador, .linkmenu {
        color: #fe9870;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        text-decoration: none;
            }
    input {
        font-family: 'Edu VIC WA NT Beginner', cursive;
        text-align: center;
    }
    p{
        font-family: 'Edu VIC WA NT Beginner', cursive
    }
    .izquierda {
        background-color: #31364c;
        float: left;
        margin: 0;
        width: 30%;
        height: 100vh;
        text-align: center;
    }
    .boxIngreso {
        margin: 15%;
    }
    .derecha {
        background-color: #fe9870;
        float: left;
        margin: 0;
        width: 70%;
        height: 100vh;
    }

    .slogan {
        float: right;
        font-size: 250%;
        color: #31364c;
        margin-top: 85vh;
        padding: 2%;
    }
    .enlaceIngresar {
        display: block;
        margin: 12%;
        color: #fe9870;
        border-style: solid;
        padding: 2%;
        text-decoration: none;
    }
    .ingresar {
        margin: 2%;
    }
    .separador {
        color: #fe9870;
        border-bottom:#fe9870 solid ;
    }
    .nav {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .contenedorSearch {
        display: flex;
        justify-content: space-between;
        padding: 1% 4% 0 40%;
        background-color: #fe9870
    }
    .titulo {
        color: #31364c;
    }
    .inputConBoton {
        padding: 3% 1% 0 0;
    }
    .card {
        display: inline-block;
        border-radius: 20%;
        width: 15%;
        margin: 2%;
        height: 250px;
        background-color: #333;
        outline: 5px solid #d4a37d;
        outline-offset: -8px;
        position: relative;
        overflow: hidden;
    }
    .linkmenu {
        font-size: 150%;
        height: 15%;
        margin:2%;
        padding: 1%;
        }
    .linkmenu:hover{
        background-color: #fe9870;
        color: #31364c;
        padding: 1%;
        border-radius: 10%;
    }
    .imagen-card {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .8;
        transition: transform .75s;
    }
    .card:hover .imagen-card {
        transform: scale(1.25);
    }
    .card-title, .card-genre {
        color: #e9e9eb;
        position: absolute;
        left: 10px;
        bottom: 175px;
        font-size: 20px;
        text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    }
    .card-genre {
        bottom: 150px;
        left: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}


